<a href="https://colab.research.google.com/github/apal9569/How-severe-can-an-airplane-accident-be-/blob/master/HE_plane_severe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [2]:
cd drive/My\ Drive

/content/drive/My Drive

In [0]:
!unzip AIRPLANE_SEVERE.zip -d HE_plane

In [0]:
!rm AIRPLANE_SEVERE.zip

In [0]:
cd HE_plane/

In [0]:
import pandas as pd
import numpy as np

In [0]:
train=pd.read_csv('train.csv')

In [0]:
train.head(10)

In [27]:
train.nunique()

Severity                       4
Safety_Score                1175
Days_Since_Inspection         23
Total_Safety_Complaints       44
Control_Metric               952
Turbulence_In_gforces       1117
Cabin_Temperature            950
Accident_Type_Code             7
Max_Elevation               4191
Violations                     6
Adverse_Weather_Metric      4258
Accident_ID                10000
dtype: int64

In [0]:
label=train['Severity']
train=train.drop(columns=['Severity','Accident_ID'])

In [29]:
nan_col_before=train.columns[train.isna().any()].tolist()
nan_col_before

[]

In [0]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [0]:
train.describe()

       Safety_Score  Days_Since_Inspection  ...   Violations  Adverse_Weather_Metric
count  10000.000000           10000.000000  ...  10000.00000            10000.000000
mean      41.876406              12.931100  ...      2.01220                0.255635
std       16.138072               3.539803  ...      1.03998                0.381128
min        0.000000               1.000000  ...      0.00000                0.000316
25%       30.593607              11.000000  ...      1.00000                0.012063
50%       41.278539              13.000000  ...      2.00000                0.074467
75%       52.511416              15.000000  ...      3.00000                0.354059
max      100.000000              23.000000  ...      5.00000                2.365378

[8 rows x 10 columns]

In [0]:
le=LabelEncoder()
label=le.fit_transform(label)

In [12]:
from sklearn.preprocessing import MinMaxScaler
x=train['Safety_Score'].values
minmax=MinMaxScaler()
pd.DataFrame(minmax.fit_transform([x]).transpose()).nunique()

0    1
dtype: int64

In [0]:
data=(train-train.min())/(train.max()-train.min())

In [32]:
data.describe()

       Safety_Score  ...  Adverse_Weather_Metric
count  10000.000000  ...            10000.000000
mean       0.418764  ...                0.107954
std        0.161381  ...                0.161149
min        0.000000  ...                0.000000
25%        0.305936  ...                0.004967
50%        0.412785  ...                0.031353
75%        0.525114  ...                0.149570
max        1.000000  ...                1.000000

[8 rows x 10 columns]

In [15]:
from keras import layers
from keras.layers import *
from keras.models import Model
from keras.preprocessing.image import load_img,img_to_array
#from keras.applications.vgg19 import preprocess_input
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
from keras.optimizers import RMSprop,Adam

Using TensorFlow backend.

In [0]:
from sklearn.preprocessing import OneHotEncoder
label=pd.DataFrame(label)
val=label.values
onehot_encoder = OneHotEncoder(sparse=False)
label=onehot_encoder.fit_transform(val)

In [0]:
trainx,testx,trainy,testy=train_test_split(data,label,test_size=0.15)

In [37]:
trainy

array([[1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       ...,
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.]])

In [0]:
inp=Input(shape=(train.shape[1],))
#den=Dense(256,activation='relu')(inp)
den=Dense(128,activation='relu')(inp)
den=Dense(128,activation='relu')(den)
den=Dense(64,activation='relu')(den)
den=Dense(64,activation='relu')(den)
den=Dense(32,activation='relu')(den)

den=Dense(label.shape[1],activation='softmax')(den)

model=Model(inputs=inp, outputs=den)

In [0]:
adam=Adam(lr=0.005,beta_1=0.95,beta_2=0.95,epsilon=0.001)
model.compile(loss='categorical_crossentropy',optimizer=adam,metrics=['categorical_accuracy'])

In [111]:
history=model.fit(trainx,trainy,epochs=20,batch_size=256,verbose=1,validation_data=(testx,testy))

Train on 8500 samples, validate on 1500 samples
Epoch 1/20
8500/8500 [==============================] - 1s 115us/step - loss: 1.3182 - categorical_accuracy: 0.3479 - val_loss: 1.2577 - val_categorical_accuracy: 0.4560
Epoch 2/20
8500/8500 [==============================] - 0s 17us/step - loss: 1.1694 - categorical_accuracy: 0.4736 - val_loss: 1.0344 - val_categorical_accuracy: 0.5920
Epoch 3/20
8500/8500 [==============================] - 0s 18us/step - loss: 0.9656 - categorical_accuracy: 0.6159 - val_loss: 0.9433 - val_categorical_accuracy: 0.6020
Epoch 4/20
8500/8500 [==============================] - 0s 18us/step - loss: 0.7925 - categorical_accuracy: 0.6941 - val_loss: 0.7102 - val_categorical_accuracy: 0.7160
Epoch 5/20
8500/8500 [==============================] - 0s 18us/step - loss: 0.5574 - categorical_accuracy: 0.7945 - val_loss: 0.5376 - val_categorical_accuracy: 0.8007
Epoch 6/20
8500/8500 [==============================] - 0s 18us/step - loss: 0.4105 - categorical_accuracy: 0.8545 - val_loss: 0.4087 - val_categorical_accuracy: 0.8613
Epoch 7/20
8500/8500 [==============================] - 0s 19us/step - loss: 0.3364 - categorical_accuracy: 0.8802 - val_loss: 0.3565 - val_categorical_accuracy: 0.8753
Epoch 8/20
8500/8500 [==============================] - 0s 18us/step - loss: 0.3106 - categorical_accuracy: 0.8922 - val_loss: 0.3275 - val_categorical_accuracy: 0.8713
Epoch 9/20
8500/8500 [==============================] - 0s 18us/step - loss: 0.2892 - categorical_accuracy: 0.9019 - val_loss: 0.3168 - val_categorical_accuracy: 0.8920
Epoch 10/20
8500/8500 [==============================] - 0s 22us/step - loss: 0.2591 - categorical_accuracy: 0.9124 - val_loss: 0.3715 - val_categorical_accuracy: 0.8627
Epoch 11/20
8500/8500 [==============================] - 0s 19us/step - loss: 0.2937 - categorical_accuracy: 0.8929 - val_loss: 0.2968 - val_categorical_accuracy: 0.9020
Epoch 12/20
8500/8500 [==============================] - 0s 17us/step - loss: 0.2514 - categorical_accuracy: 0.9173 - val_loss: 0.2904 - val_categorical_accuracy: 0.9067
Epoch 13/20
8500/8500 [==============================] - 0s 19us/step - loss: 0.2354 - categorical_accuracy: 0.9189 - val_loss: 0.3618 - val_categorical_accuracy: 0.8700
Epoch 14/20
8500/8500 [==============================] - 0s 27us/step - loss: 0.2740 - categorical_accuracy: 0.9027 - val_loss: 0.2666 - val_categorical_accuracy: 0.9027
Epoch 15/20
8500/8500 [==============================] - 0s 25us/step - loss: 0.2422 - categorical_accuracy: 0.9169 - val_loss: 0.2820 - val_categorical_accuracy: 0.9007
Epoch 16/20
8500/8500 [==============================] - 0s 28us/step - loss: 0.2250 - categorical_accuracy: 0.9222 - val_loss: 0.2697 - val_categorical_accuracy: 0.9107
Epoch 17/20
8500/8500 [==============================] - 0s 28us/step - loss: 0.2434 - categorical_accuracy: 0.9131 - val_loss: 0.2825 - val_categorical_accuracy: 0.8940
Epoch 18/20
8500/8500 [==============================] - 0s 28us/step - loss: 0.2316 - categorical_accuracy: 0.9168 - val_loss: 0.3316 - val_categorical_accuracy: 0.8747
Epoch 19/20
8500/8500 [==============================] - 0s 29us/step - loss: 0.2306 - categorical_accuracy: 0.9151 - val_loss: 0.2763 - val_categorical_accuracy: 0.8927
Epoch 20/20
8500/8500 [==============================] - 0s 28us/step - loss: 0.2232 - categorical_accuracy: 0.9207 - val_loss: 0.2470 - val_categorical_accuracy: 0.9253

In [0]:
model=XGBClassifier(max_depth=6,learning_rate=0.15,gamma=0.15)
model.fit(trainx,trainy)

In [41]:
!ls

sample_submission.csv  test.csv  train.csv

In [0]:
test=pd.read_csv('test.csv')

In [113]:
test.head()

   Safety_Score  Days_Since_Inspection  ...  Adverse_Weather_Metric  Accident_ID
0     19.497717                     16  ...                0.069692            1
1     58.173516                     15  ...                0.002777           10
2     33.287671                     15  ...                0.004316           14
3      3.287671                     21  ...                0.199990           17
4     10.867580                     18  ...                0.483696           21

[5 rows x 11 columns]

In [0]:
acc_id=test['Accident_ID']
test=test.drop(columns=['Accident_ID'])
data=(test-test.min())/(test.max()-test.min())

In [115]:
data.head()

   Safety_Score  Days_Since_Inspection  ...  Violations  Adverse_Weather_Metric
0      0.194977               0.681818  ...         0.4                0.029313
1      0.581735               0.636364  ...         0.4                0.001019
2      0.332877               0.636364  ...         0.2                0.001670
3      0.032877               0.909091  ...         0.4                0.084407
4      0.108676               0.772727  ...         0.4                0.204366

[5 rows x 10 columns]

In [116]:
prediction=model.predict(data)
prediction

array([[9.99849081e-01, 1.00369414e-10, 1.33317706e-04, 1.74914985e-05],
       [1.37761673e-02, 8.51018180e-04, 7.08662987e-01, 2.76709855e-01],
       [5.48491906e-03, 4.22260106e-01, 2.64209259e-04, 5.71990728e-01],
       ...,
       [1.51408883e-02, 3.00474085e-07, 2.99983016e-09, 9.84858811e-01],
       [8.50482285e-03, 3.61688551e-04, 4.97055737e-07, 9.91133034e-01],
       [1.24456927e-01, 1.78827599e-04, 8.75242710e-01, 1.21532437e-04]],
      dtype=float32)

In [0]:
prediction=prediction.argmax(axis=1)

In [118]:
prediction.shape,test.shape

((2500,), (2500, 10))

In [119]:
le.classes_

array(['Highly_Fatal_And_Damaging', 'Minor_Damage_And_Injuries',
       'Significant_Damage_And_Fatalities',
       'Significant_Damage_And_Serious_Injuries'], dtype=object)

In [0]:
out=le.inverse_transform(prediction)

In [121]:
out

array(['Highly_Fatal_And_Damaging', 'Significant_Damage_And_Fatalities',
       'Significant_Damage_And_Serious_Injuries', ...,
       'Significant_Damage_And_Serious_Injuries',
       'Significant_Damage_And_Serious_Injuries',
       'Significant_Damage_And_Fatalities'], dtype=object)

In [0]:
sub=pd.read_csv('sample_submission.csv')

In [123]:
sub.head()

   Accident_ID                                 Severity
0            1                Minor_Damage_And_Injuries
1           10                Highly_Fatal_And_Damaging
2           14                Highly_Fatal_And_Damaging
3           17  Significant_Damage_And_Serious_Injuries
4           21                Minor_Damage_And_Injuries

In [0]:
submission=pd.DataFrame(columns=['Accident_ID','Severity'])

In [125]:
submission

Empty DataFrame
Columns: [Accident_ID, Severity]
Index: []

In [0]:
submission['Accident_ID']=acc_id
submission['Severity']=out

In [0]:
submission.to_csv('Prediction.csv',index=False)